In [1]:
##basic syntax rule in python
##case sensitivity- python is case sensitivity

name="abhijith"
Name="m"
print(name)
print(Name)

abhijith
m

In [3]:
## indentation
## python uses indentations to define blocks of code. consistent use spaces (commonly 4) or a tab is required.

age=32
if age>30:
   print(age)

32

In [4]:
## this is a sinngle line comment
print("Hello World")

Hello World

In [ ]:
## line continuation
## use a bckslash (\) to continue a statement to the next line
total=1+2+3+4+5+6+7+\
    4+5+6
print(total)

43

In [6]:
## multiple statement on a single line
x=5;y=10;z=x+y
print(z)

15

In [7]:
## understand Semantics In python
# variable assignment
age=24
name="abhijith"

In [ ]:
type(age)

int

In [9]:
type(name)

str

In [10]:
## type inference 
variable=10
print(type(variable))
variable="abhijith"
print(type(variable))

<class 'int'>
<class 'str'>

In [15]:
age=23
if age<30:
   print(age)

23

In [16]:
## name error
a=b

NameError: name 'b' is not defined

In [17]:
## code examples of indentation
if True:
    print("correct indentation")
    if False:
        print("this won't be print")
    print("This will print")
print("outside the block")

correct indentation
This will print
outside the block

variables

In [18]:
## Declaring And Assigning Variables

age=24
height=5.4
name="abhijith"
is_student=True

## printing the variable

print("age :",age)
print("Height :",height)
print("Name :",name)

age : 24
Height : 5.4
Name : abhijith

In [19]:
## naming conversations
## variable names should be descriptive
## they must start with an letter or an '_' and contains letters numbers and underscores
## variables names case sensitive

#valid variable names

first_name="abhijith"
last_name="M"

In [20]:
## understanding variable types
## python is dynamically typed,type of a variable is determined at runtime

age=24
height=5.4
name="abhijith"
is_student=True

print(type(name))

<class 'str'>

In [21]:
## type checking and conversion

age=25
print(type(age))

# type conversation
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [22]:
## dynamic typing
## python allows the type of a variable to change as the program executes
var=10
print(var,type(var ))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [23]:
## input

age=input("what is the age")
print(age,type(age))

 <class 'str'>

In [29]:
## simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("sum:", sum)
print("differenc:", difference)
print("product:", product)
print("quotient:", quotient)

sum: 99.0
differenc: -13.0
product: 2408.0
quotient: 0.7678571428571429

In [ ]:
##datatypes

In [30]:
## integer examples
age=23
type(age)

int

In [31]:
##floating point exaples
height=5.3
print(height)
print(type(height))

5.3
<class 'float'>

In [32]:
## string datatype example
name="abhijith"
print(type(name))

<class 'str'>

In [34]:
## boolean datatype
is_true=True
type(is_true)

bool

In [ ]:
##operators

False

In [36]:
##arithemetic
a=10
b=5

floor_div_result=a//b
modulus_result=a%b
exponent_result=a**b

print(floor_div_result)
print(modulus_result)
print(exponent_result)

2
0
100000

Dictionaries

In [37]:
## creating dictonaries
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [38]:
empty_dict=dict()
empty_dict

{}

In [39]:
student={"name":"abhijith","age":23,"grade":23}
print(student)

{'name': 'abhijith', 'age': 23, 'grade': 23}

In [43]:
##accessing dictionary elements
student={"name":"abhijith","age":23,"grade":'b'}
print(student)

{'name': 'abhijith', 'age': 23, 'grade': 'b'}

In [49]:
print(student['name'])

## accessing using get() method
print(student.get('grade'))
print(student.get('last_name'))
print(student.get('last_name',"not available"))

abhijith
b
None
not available

In [50]:
## modifying dictionary elements
## dictionaries are mutable, so we can add, update or delete elements
print(student)

{'name': 'abhijith', 'age': 23, 'grade': 'b'}

In [ ]:
student["age"]=24  ##update
print(student)
student["address"]="india"  ##added new value
print(student)

{'name': 'abhijith', 'age': 24, 'grade': 'b'}
{'name': 'abhijith', 'age': 24, 'grade': 'b', 'address': 'india'}

In [52]:
del student['grade'] ##delete key and value pair
print(student)

{'name': 'abhijith', 'age': 24, 'address': 'india'}

In [53]:
## dictionary methods

keys=student.keys() ##get all the keys
print(keys)
values=student.values() ##get all the keys
print(values)

items=student.items() ## get all keys value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['abhijith', 24, 'india'])
dict_items([('name', 'abhijith'), ('age', 24), ('address', 'india')])

In [55]:
## shallow copy
student_copy=student
print(student)
print(student_copy)

{'name': 'abhijith', 'age': 24, 'address': 'india'}
{'name': 'abhijith', 'age': 24, 'address': 'india'}

In [56]:
student['name']="abhijith1"
print(student)
print(student_copy)

{'name': 'abhijith1', 'age': 24, 'address': 'india'}
{'name': 'abhijith1', 'age': 24, 'address': 'india'}

In [57]:
## shallow copy
student_copy1=student.copy() ##shallow copy
print(student_copy1)
print(student)

{'name': 'abhijith1', 'age': 24, 'address': 'india'}
{'name': 'abhijith1', 'age': 24, 'address': 'india'}

In [58]:
student["name"]="abhijith2"
print(student_copy1)
print(student)

{'name': 'abhijith1', 'age': 24, 'address': 'india'}
{'name': 'abhijith2', 'age': 24, 'address': 'india'}

In [ ]:
## iterating over dictionaries
## we can use loops to iterate over dictionaries, keys,values,or items

## iterating over keys
for keys in student.keys():
    print(keys)

name
age
address

In [63]:
## iterate over values
for keys in student.values():
    print(values)

dict_values(['abhijith2', 24, 'india'])
dict_values(['abhijith2', 24, 'india'])
dict_values(['abhijith2', 24, 'india'])

In [67]:
## iterate over key value pairs
for key,value in student.items():
    print(f"{key}:{value}")

name:abhijith2
age:24
address:india

In [68]:
## nested dictionaries
students={
    "student1":{"name":"abhijith","age":23},
    "student2":{"name":"peter","age":25}
}
print(students)

{'student1': {'name': 'abhijith', 'age': 23}, 'student2': {'name': 'peter', 'age': 25}}

In [69]:
##access nested dictionary elements
print(students["student2"]["name"])
print(students["student2"]["age"])

peter
25

In [71]:
students.items()

dict_items([('student1', {'name': 'abhijith', 'age': 23}), ('student2', {'name': 'peter', 'age': 25})])

In [72]:
## iterating over nested dictionaries
for student_id,student_info in students.items():
    print(f"{student_id}:{student_info}")
    for key,value in student_info.items():
        print(f"{key}:{value}")

student1:{'name': 'abhijith', 'age': 23}
name:abhijith
age:23
student2:{'name': 'peter', 'age': 25}
name:peter
age:25

In [73]:
## dictionary comphrehension
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [75]:
## condition dictionary comprehension
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [76]:
## practical examples

## use a dictionary to count the frquancy of element in list

numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

In [77]:
## merge 2 dictionaries into one

dict1={"a":1,"b":2}
dict2={"b":2,"c":4}
merged_dict={**dict1,**dict2}
print(merged_dict)

{'a': 1, 'b': 2, 'c': 4}

Real world examples using lists in python

Example 1. Manage A To Do List

   . Create a To Do List to keep track of tasks

In [79]:
to_do_list=["Buy groceries","clean the house","pay bills"]

## adding to task
to_do_list.append("schedule meeting")
to_do_list.append("go for a run")

##removing comleted task
to_do_list.remove("clean the house")

## checking if a task is in the list
if "pay bills" in to_do_list:
    print("don't forget to pay the bill")
    
print("to do list remaining")
for task in to_do_list:
    print(f"-{task}")

don't forget to pay the bill
to do list remaining
-Buy groceries
-pay bills
-schedule meeting
-go for a run

organizing student grades

.create a list to store and calculate average grade for student

In [1]:
 ##Organizing student grades
grades = [85, 92, 78, 90, 88]

# Adding a new grade
grades.append(95)

print(f"sum:{sum},type:{type(sum)}")
print(f"len:{len},type:{type(len)}")

# Calculating the average grade
average_grade = sum(grades) / len(grades)
print(f"Average Grade: {average_grade:.2f}")

# Finding the highest and lowest grades
highest_grade = max(grades)
lowest_grade = min(grades)
print(f"Highest Grade: {highest_grade}")
print(f"Lowest Grade: {lowest_grade}")

sum:<built-in function sum>,type:<class 'builtin_function_or_method'>
len:<built-in function len>,type:<class 'builtin_function_or_method'>
Average Grade: 88.00
Highest Grade: 95
Lowest Grade: 78

.use alist to mnage inventory items in a store

In [2]:
inventory = ["apples", "bananas", "oranges", "grapes"]

# Adding a new item
inventory.append("strawberries")

# Removing an item that is out of stock
inventory.remove("bananas")

# Checking if an item is in stock
item = "oranges"
if item in inventory:
    print(f"{item} are in stock.")
else:
    print(f"{item} are out of stock.")

# Printing the inventory
print("Inventory List:")
for item in inventory:
    print(f"- {item}")

oranges are in stock.
Inventory List:
- apples
- oranges
- grapes
- strawberries

Collecting User Feedback

.Use s list to collect and analyse user feedback

In [3]:
# Collecting user feedback
feedback = ["Great service!", "Very satisfied", "Could be better", "Excellent experience"]

# Adding new feedback
feedback.append("Not happy with the service")

# Counting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Printing all feedback
print("User Feedback:")
for comment in feedback:
    print(f"- {comment}")

Positive Feedback Count: 2
User Feedback:
- Great service!
- Very satisfied
- Could be better
- Excellent experience
- Not happy with the service

FUNCTIONS

In [ ]:
## syntax
def function_name(parameters):
    """Docstring"""
    #function body
    return.expression

In [7]:
##why functions
num=24
if num%2==0:
   print("the number is even")
else:
   print("the number is odd")

the number is even

In [13]:
def even_or_odd(num):
    """This function finds even or odd"""
    if num%2==0:
      print("the number is even")
    else:
     print("the number is odd")

In [14]:
## cal this function
even_or_odd(24)

the number is even

In [15]:
## function with multiple parameters
def add(a,b):
    return a+b

result=add(2,4)
print(result)

6

In [16]:
##Default parameters

def greet(name):
    print(f"Hello {name} welcome")
    
greet("hi")

Hello hi welcome

In [17]:
def greet(name="guest"):
    print(f"Hello {name} welcome")
    
greet()

Hello guest welcome

In [ ]:
## variable length arguements
## position and key word arguements
   ## positional arguements
def print_numbers(*args):
    for number in args:
        print(number)

In [19]:
print_numbers(1,2,3,4,5,6,7,"args")

1
2
3
4
5
6
7
args

In [30]:
## keyword arguements
 
def print_details(**kwargs):
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [31]:
print_details(name="something",age="23",country="india")

name:something
age:23
country:india

In [32]:
def print_details(*args,**kwargs):
    for val in args:
        print(f" positional argument : {val}")
    
    for key,value in kwargs.items():
        print(f"{key}:{value}")

In [33]:
print_details(1,2,3,4,5,6,7,"args",name="something",age="23",country="india")

 positional argument : 1
 positional argument : 2
 positional argument : 3
 positional argument : 4
 positional argument : 5
 positional argument : 6
 positional argument : 7
 positional argument : args
name:something
age:23
country:india

In [35]:
## return statements
def multiply(a,b):
    return a*b,a

multiply(2,4)

(8, 2)

Examples Functions

1:temprature conversion

In [37]:
def convert_temprature(temp,unit):
    """this function converts temprature between celsius and fahrenheit"""
    if unit=='C':
         return temp * 9/5 + 32 ##celsius to fahrenheit
    elif unit=="F":
        return (temp-32) *5/9 ##fahreheit to celsius
    else:
        return None
    
print(convert_temprature(25,'C'))
print(convert_temprature(77,'F'))

77.0
25.0

2: password strength checker

In [38]:
def is_strong_password(password):
    """this function check if password is strong or not"""
    if len(password)<8:
        return False
    if not any(char.isdigit() for char in password):
        return False
    if not any(char.islower() for char in password):
        return False
    if not any(char.isupper() for char in password):
        return False
    if not any(char in '@$%&()_+' for char in password):
        return False
    return True 
## calling the function
print(is_strong_password("WeaKPwd"))
print(is_strong_password("Str0ngPwd!@"))

False
True

3: calculate the tota cost of items in a shopping cart

In [42]:
def calculate_total_cost(cart):
    total_cost=0
    for item in cart:
        total_cost+=item['price']*item['quantity']
    return total_cost
## example cart data

cart=[
    {'name':'Apple','price':0.5,'quantity':4},
    {'name':'Banana','price':0.3,'quantity':5},
    {'name':'Banana','price':0.3,'quantity':4}
]

## calling the function
total_cost=calculate_total_cost(cart)  
print(total_cost)

4.7

4: check if a string is palindrome

In [43]:
def is_palindrome(s):
    s=s.lower().replace(" ","")
    return s==s[::-1]
print(is_palindrome("A man a plan a canal panama"))
print(is_palindrome("Hello"))

True
False

3: Calculate the factorials of a number using recursion

In [44]:
def factorial(n):
    if n==0:
       return 1
    else:
       return n * factorial(n-1)
print(factorial(5))

120

4: Validate Email address

In [50]:
import re

def is_valid_email(email):
    """this function check if the email is valid or not"""
    pattern = r'^[a-zA-Z0-9-.+-]+@[a-zA-Z0-9]+\.[a-zA-z0-9-.]+$'
    return re.match(pattern, email) is not None

## calling the function
print(is_valid_email("test@example.com"))
print(is_valid_email("invaid-email"))

True
False

Lambda Functions

In [51]:
def addition(a,b):
    return a+b

In [52]:
addition(2,4)

6

In [54]:
addition=lambda a,b:a+b
type(addition)
print(addition(5,6))

11

In [59]:
def even(num):
    if num%2==0:
       return True
    else:
        return False

In [60]:
even1=lambda num:num%2==0
even(13)

False

In [62]:
def addition(x,y,z):
    return x+y+z

addition(12,13,14)

39

In [63]:
addition1=lambda x,y,z:x+y+z
addition1(12,14,23)

49

MAP Functions

In [66]:
## map()-applies a function to all items in a list
number=[1,2,3,4,5,6]
def square(number):
    return number**2

square(2)

4

In [67]:
list(map(lambda x:x**2,number))

[1, 4, 9, 16, 25, 36]

                        OR

In [68]:
numbers=[1,2,3,4,5,6,7]
list(map(lambda x:x*x,numbers))

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
## map multipe iterables

numbers1=[1,2,3]
numbers2=[4,5,6]
added_numbers=list(map(lambda x,y:x+y,numbers1,numbers2)) 
print(added_numbers)

:

In [72]:
# map() to convert a list of strings to integers
#3 use map to convert strings to integers
str_numbers = ['1','2','3','4','5','6']
int_numbers= list(map(int, str_numbers))

print(int_numbers)

[1, 2, 3, 4, 5, 6]

In [2]:
words=['apple'',fan','egg']
upper_words=list(map(str.upper,words))
print(upper_words)

['APPLE,FAN', 'EGG']

Filter Function in Python

In [2]:
def even(num):
    if num%2==0:
       return True

In [3]:
even(24)

True

In [6]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12]
filered_numbers=list(filter(even,numbers))
print(filered_numbers)

[2, 4, 6, 8, 10, 12]

In [7]:
## Filter with a Lambda Function
numbers=[1,2,3,4,5,6,7,8,9]
greater_than_five=list(filter(lambda x:x>5,numbers))
print(greater_than_five)

[6, 7, 8, 9]

In [8]:
## Fiter with lambda function and multiple conditions
numbers=[1,2,3,4,5,6,7,8,9]
even_and_greater_than_five=list(filter(lambda x:x>5 and x%2==0,numbers))
print(even_and_greater_than_five)

[6, 8]

In [1]:
## filter to check if the age is greater than 25 in dictionaries
people=[
    {'name':'jhon','age':43},
    {'name':'jack','age':45},
    {'name':'cat','age':25}
]

def age_greater_than_25(person):
    return person['age']>25
list(filter(age_greater_than_25,people))

[{'name': 'jhon', 'age': 43}, {'name': 'jack', 'age': 45}]

Importing Modules In Python:Modules and Packages

In [10]:
import math
math.sqrt(16)

4.0

In [3]:
from math import sqrt,pi
print(sqrt(16))
print(sqrt(25))
print(pi)

4.0
5.0
3.141592653589793

In [2]:
import numpy as np
np.array([1,2,3,4])

array([1, 2, 3, 4])

In [6]:
 from math import  *
 print(sqrt(16))
 print(pi)

4.0
3.141592653589793

In [7]:
from package.math import addition
addition(2,3)

5

In [1]:
from package.math import multiplication
multiplication(3,5)

15